.nav {
    position: fixed;
    overflow: hidden;
    height: 60px;
    background-color: #163137;
    z-index: 111111;
    /* border-bottom: 5px solid red; */
}

.nav-menu {
    display: flex;
    margin-left: 200px;
    margin-top: 5%;
    /* animation: nav-menu-slide-out 0.5s ease-in-out forwards; */
}

@keyframes nav-menu-slide-out {
    0% {
        margin-left: -60px;
    }

    100% {
        margin-left: 220px;
    }
}

.nav-menu-forward {
    display: inline;
    margin-left: 0px;
    margin-top: 5%;
    animation: nav-menu-slide-in 0.5s ease-in-out forwards;
}

@keyframes nav-menu-slide-in {
    0% {
        margin-left: 220px;
    }

    100% {
        margin-left: -60px;
    }
}

.menu-bars {
    font-size: 1rem;
    color: white;
    cursor: pointer;
    float: left;
    padding-right: 10px;
    padding-top: 7px;
}

.nav-menu-btn {
    cursor: pointer;
    font-size: 1.2rem;
    padding:0;
    color: white;
    margin: 0;
}

.nav-spacing {
    margin: 0px 10vw 0px 10vw;
}

.nav-items {
    display: grid;
    grid-template-columns: 20vw 40vw 20vw;
}

.nav-header {
    font-size: 1.3rem;
    color: white;
    padding-top: 3%;
    margin: 0;
    font-style: italic;
    font-weight: 300;
}

.search-btn {
    font-size: 1.1vw;
    color: white;
    padding-top: 35px;
    cursor: pointer;
    margin-right: 10px;
}

.search-btn-none {
    font-size: 1.2rem;
    color: white;
    padding-top: 35px;
    display: none;
    /* margin: 0; */
}

.search-btn-after {
    font-size: 1.1vw;
    color: white;
    padding-top: 35px;
    cursor: pointer;
    position: relative;
    /* or absolute, depending on your layout */
    animation: search-slide-out 0.5s ease-in-out forwards;
}

@keyframes search-slide-out {
    0% {
      left: -170px;
      /* Start position outside the container */
    }
    100% {
      left: 0px;
      /* End position at the original position */
    }
  }

.nav-search-input {
    border-top: 0px;
    border-left: 0px;
    border-bottom: 1px solid white;
    border-right: 0px;
    box-shadow: 0;
    background-color: transparent;
    color: white;
    height: 30px;
    font-size: 20px;
    width: 10vw;
    margin-left: 10px;
    padding: 0;
}

.nav-search-input:focus {
    outline: 0;

}

.nav-search {
    position: relative;
    height: 50px;
    width:  75px;
    padding-top: 1%;
    cursor:pointer
}

.menu-hidden {
    position: absolute;
    height: 100vh;
    z-index: 11111;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    right: -350px;
    animation: menu-slide-out 0.5s ease-in-out forwards;
}

@keyframes menu-slide-out {
    0% {
        right: 0px;
        /* Start position outside the container */
    }

    100% {
        right: -350px;
        /* End position at the original position */
    }
}

.menu {
    margin-top: 10vh;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11111;
    width: 350px;
    display: block;
    /* overflow: auto; */
    position: fixed;
    right: -350px;
    /* Adjust the width of the menu here */
    animation: menu-slide-in 0.5s ease-in-out forwards;
}

@keyframes menu-slide-in {
    0% {
        right: -350px;
        /* Start position outside the container */
    }

    100% {
        right: 0;
        /* End position at the original position */
    }
}

.menu-items {
    text-align: center;
    justify-content: center;
    list-style-type: none;
    color: white;
    text-decoration: none;
    font-size: 1.2vw;
    margin: 10px 20px 0px 20px;
    padding: 0;
    padding: 20px 50px 20px 50px;
    border-bottom: 1px solid white;
    display: block;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease-in-out;
}

.menu-items:hover {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 414px) {
    .nav-header {
        display: none;
    }

    .menu-bars {
        font-size: 20px;

    }
    .nav-items {
        display: grid;
        grid-template-columns: 30vw 20vw 30vw;
    }
    .nav-menu-btn{
        font-size: 20px;
        padding-top: 20px;
        display: none;
    }
    .nav-menu {
        display: inline;
        margin-left: 20px;
    }
    @keyframes nav-menu-slide-out {
        0% {
            margin-left: 0px;
        }
    
        100% {
            margin-left: 170px;
        }
    }
    .menu{
        margin-top: 60px;
    }
    .menu-hidden{
        width: 250px;
        margin-top: 75px;
    }
    .menu-items {
        font-size: 18px;
        margin: 10px 20px 0px 20px;
        padding: 20px 50px 20px 50px;
    }
    
}
@media only screen and (max-width: 360px) {

    .nav-menu-btn{
        font-size: 16px;
        margin-top: 5px;
        animation: 0s;
    }
}
@media only screen and (max-width: 920px) {
    .nav-header {
        display: none;
    }


    .nav-items {
        display: grid;
        grid-template-columns: 30vw 20vw 50vw;
    }
    .nav-menu-btn{
        font-size: 20px;
        padding-top: 20px;
        display: none;
    }
    .nav-menu {
        display: inline;
        margin-left: 20px;
    }
    @keyframes nav-menu-slide-out {
        0% {
            margin-left: 0px;
        }
    
        100% {
            margin-left: 170px;
        }
    }
    .menu{
        /* width: 250px; */
        margin-top: 60px;
    }
    .menu-hidden{
        width: 250px;
        margin-top: 75px;
    }
    .menu-items {
        font-size: 18px;
        margin: 10px 20px 0px 20px;
        padding: 20px 50px 20px 50px;
    }
    .nav-menu-forward {
        animation: none;
    }
    .nav-menu {
        animation: none;
    }
}
@media only screen and (max-width: 1080px) {
    .nav-header {
        padding-top: 18%;
        font-size: 1.2rem;
        display: none;
    }
    .menu-bars{
        margin-top: 12%;
    }

    .nav-items {
        display: grid;
        grid-template-columns: 30vw 40vw 10vw;
    }
    .nav-menu-btn{
        font-size: 1.5rem;
        padding-top: 6.5%;
        display: none;
    }
    .nav-menu {
        display: inline;
        margin-left: 20px;
    }
    @keyframes nav-menu-slide-out {
        0% {
            margin-left: 0px;
        }
    
        100% {
            margin-left: 170px;
        }
    }
    .menu{
        /* width: 250px; */
        margin-top: 60px;
    }
    .menu-hidden{
        width: 250px;
        margin-top: 75px;
    }
    .menu-items {
        font-size: 18px;
        margin: 10px 20px 0px 20px;
        padding: 20px 50px 20px 50px;
    }
    .nav-menu-forward {
        animation: none;
    }
    .nav-menu {
        animation: none;
    }
}
